div.dm_opp_global_map {
  -moz-box-shadow: 0 0 7px #000;
}

.interets_wrap {
}

ul.element_categs {
  float: left;
  width: 250px;
}

ul.element_categs a {
  display: block;
  padding: 4px 10px;
  font-weight: bold;
  color: #666;
}

ul.element_categs a:hover {
  background: #eeeeff;
  text-decoration: none;
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
}

ul.element_categs a.selected {
  border: 1px solid #D3D3D3;
  padding: 3px 9px;
  border-right-color: #FAFAFA;
  background: #FAFAFA;
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  width: 231px;
  color: #000;
}

ul.interets {
  margin-left: 250px;
  border: 1px solid #D3D3D3;
  background: #FAFAFA;
  padding: 1em;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  min-height: 250px;
  max-height: 250px;
  overflow: auto;
}

ul.interets li {
  margin: 0.5em 0 1.5em 0;
}

ul.interets li > label {
  float: left;
  width: 20em;
  text-align: right;
  margin-right: 1em;
  font-size: 1.2em;
}

ul.interets div.radio_list input {
  left: -9999px;
  position:absolute;
}

ul.interets div.radio_list label {
  padding: 0.5em 1em;
  background: url(../../dmCorePlugin/images/default_bg.png) center left repeat-x;
  border: 1px solid #D3D3D3;
  margin-right: -4px;
  cursor: pointer;
  color: #666;
}
ul.interets div.radio_list label:hover {
  background: url(../../dmCorePlugin/images/default_bg_blue.png) center left repeat-x;
  color: #222;
}
ul.interets div.radio_list label.active {
  background: #fff;
  color: #222;
}

ul.exports li {
  display: block;
  height: 32px;
  font-weight: bold;
  padding-left: 38px;
}

ul.exports li a {
  margin-top: 5px;
  display: block;
  margin-left: 10px;
  font-weight: normal;
}

ul.exports li.data {
  background: url(../images/data_out.png) top left no-repeat;
  height: 70px;
  display: block;
}

ul.exports li.media {
  background: url(../images/folder_out.png) top left no-repeat;
}

div.gmap {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

div.dm_form_action_bar li.sf_admin_action_save_and_add,
div.dm_form_action_bar li.sf_admin_action_save_and_list,
div.dm_form_action_bar li.sf_admin_action_save_and_next {
  display: none;
}
